* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.screen-home {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: yellowgreen;
}

.child-home {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.intro-content>h2{
    font-size: 34px;
    font-weight: 500;
}